In [1]:
import pandas as pd
from datetime import datetime

In [46]:
hist_econ_file = "econ_percentages.csv"
cur_econ_file = "current_econ_data.csv"
states_file = "states.csv"

## Economic Data
* Current and historical data shows indicators as a percentage change over the 12-month moving average
* Current conditions are:
* Inflation: 0.0047 in January 2018. -0.12766% change over 12-month moving average
* Unemployment: 4.1% - a -0.1132% change over the 12-month moving average
* TBill Rate: 1.89% - a 1.277% change over the 12-month moving average
* National E-Retail Sales: 67,076,000,000 - a 0.661778% change over the 12 month moving average

In [70]:
curr_df = pd.read_csv(cur_econ_file).rename(columns=lambda x: x.strip())
curr_df

,Unnamed: 0,inflation,unemployment,tbill,natsales
0,2017-01,0.00530,0.048000,0.008900,40364.000000
1,2017-02,0.00530,0.047000,0.008300,37891.000000
2,2017-03,0.00530,0.045000,0.009200,44061.000000
3,2017-04,0.00520,0.044000,0.010200,41275.000000
4,2017-05,0.00520,0.043000,0.010800,44373.000000
5,2017-06,0.00510,0.043000,0.011600,43294.000000
6,2017-07,0.00510,0.043000,0.012400,42584.000000
7,2017-08,0.00510,0.044000,0.012200,44733.000000
8,2017-09,0.00510,0.041000,0.012400,42021.000000
9,2017-10,0.00500,0.041000,0.013000,43925.000000
10,2017-11,0.00470,0.041000,0.014500,55215.000000
11,2017-12,0.00460,0.041000,0.016100,67076.000000
12,2018-01,0.00470,0.041000,0.018900,NaN
13,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN
15,Current % Change over 12-month moving average,-0.12766,-0.113208,1.277108,0.661778

In [41]:
hist_df = pd.read_csv(hist_econ_file).rename(columns=lambda x: x.strip())
print(hist_df.dtypes)

date               object
dc_sales            int64
dc_profits          int64
inflation         float64
unemployment      float64
tbill             float64
natsales            int64
dc_sales_chg      float64
dc_profits_chg    float64
natsales_chg      float64
dtype: object

## Comparing sales at time periods with similar economic conditions
### Which months had similar inflation?
* Look for + or - 5%

In [103]:
months = hist_df.query('inflation < (0.00407 * 1.05) & inflation > (0.00407 * 0.95)')
months

,date,dc_sales,dc_profits,inflation,unemployment,tbill,natsales,dc_sales_chg,dc_profits_chg,natsales_chg
21,2010-03-01,238070141,28654790,0.0041,0.099,0.0373,21630,0.116046,0.095777,0.174267

### Results
Looks like only one month was within 5% of the current inflation rate of change. In the past this month had good sales and profit growth company wide.
How did different states perform during this month?

In [63]:
states_df = pd.read_csv(states_file, sep=',', names = ["date", "state", "dc_sales", "dc_profits", "date2", "inflation", "unemployment", "tbill", "natsales"])
sdf = states_df.drop(['date2'], axis=1)

In [67]:
sdf.query('date == "2010-03-01"').sort_values(['dc_sales'], ascending=[True])

,date,state,dc_sales,dc_profits,inflation,unemployment,tbill,natsales
2508,2010-03-01,DE,42636,3489,0.0041,0.099,0.0373,21630
2538,2010-03-01,RI,51677,7407,0.0041,0.099,0.0373,21630
2529,2010-03-01,NH,55338,7291,0.0041,0.099,0.0373,21630
2507,2010-03-01,DC,78344,1312,0.0041,0.099,0.0373,21630
2531,2010-03-01,NM,124727,12410,0.0041,0.099,0.0373,21630
2521,2010-03-01,ME,164493,18527,0.0041,0.099,0.0373,21630
2549,2010-03-01,WY,186522,29508,0.0041,0.099,0.0373,21630
2530,2010-03-01,NJ,202001,28001,0.0041,0.099,0.0373,21630
2545,2010-03-01,VT,218305,31497,0.0041,0.099,0.0373,21630
2520,2010-03-01,MD,233884,28992,0.0041,0.099,0.0373,21630
2539,2010-03-01,SC,263887,34362,0.0041,0.099,0.0373,21630
2526,2010-03-01,NC,271471,41651,0.0041,0.099,0.0373,21630
2510,2010-03-01,GA,281721,46885,0.0041,0.099,0.0373,21630
2518,2010-03-01,LA,328018,43582,0.0041,0.099,0.0373,21630
2544,2010-03-01,VA,431900,45412,0.0041,0.099,0.0373,21630
2525,2010-03-01,MT,451644,62933,0.0041,0.099,0.0373,21630
2548,2010-03-01,WV,460124,74127,0.0041,0.099,0.0373,21630
2519,2010-03-01,MA,486884,54768,0.0041,0.099,0.0373,21630
2506,2010-03-01,CT,589598,55161,0.0041,0.099,0.0373,21630
2524,2010-03-01,MS,653841,93125,0.0041,0.099,0.0373,21630
2509,2010-03-01,FL,688845,78660,0.0041,0.099,0.0373,21630
2511,2010-03-01,HI,700251,76727,0.0041,0.099,0.0373,21630
2535,2010-03-01,OK,833178,64314,0.0041,0.099,0.0373,21630
2500,2010-03-01,AK,928056,117498,0.0041,0.099,0.0373,21630
2537,2010-03-01,PA,943895,115029,0.0041,0.099,0.0373,21630
2501,2010-03-01,AL,1017859,160419,0.0041,0.099,0.0373,21630
2542,2010-03-01,TX,1092068,143548,0.0041,0.099,0.0373,21630
2502,2010-03-01,AR,1144837,151788,0.0041,0.099,0.0373,21630
2522,2010-03-01,MI,1185583,126029,0.0041,0.099,0.0373,21630
2533,2010-03-01,NY,1309955,133691,0.0041,0.099,0.0373,21630
2534,2010-03-01,OH,1334729,141766,0.0041,0.099,0.0373,21630
2532,2010-03-01,NV,1826007,147268,0.0041,0.099,0.0373,21630
2513,2010-03-01,ID,2420551,236939,0.0041,0.099,0.0373,21630
2543,2010-03-01,UT,2697642,359890,0.0041,0.099,0.0373,21630
2536,2010-03-01,OR,3610556,470974,0.0041,0.099,0.0373,21630
2540,2010-03-01,SD,3987166,458785,0.0041,0.099,0.0373,21630
2527,2010-03-01,ND,4182799,443748,0.0041,0.099,0.0373,21630
2503,2010-03-01,AZ,4612246,540385,0.0041,0.099,0.0373,21630
2541,2010-03-01,TN,4655929,582873,0.0041,0.099,0.0373,21630
2528,2010-03-01,NE,5381909,738705,0.0041,0.099,0.0373,21630
2547,2010-03-01,WI,5440996,619219,0.0041,0.099,0.0373,21630
2515,2010-03-01,IN,5533830,707409,0.0041,0.099,0.0373,21630
2546,2010-03-01,WA,5972279,719026,0.0041,0.099,0.0373,21630
2517,2010-03-01,KY,6130987,745945,0.0041,0.099,0.0373,21630
2505,2010-03-01,CO,6442038,717820,0.0041,0.099,0.0373,21630
2516,2010-03-01,KS,7165158,794322,0.0041,0.099,0.0373,21630
2523,2010-03-01,MN,9460548,1147688,0.0041,0.099,0.0373,21630
2514,2010-03-01,IL,9887093,1195680,0.0041,0.099,0.0373,21630
2512,2010-03-01,IA,11030782,1450184,0.0041,0.099,0.0373,21630
2504,2010-03-01,CA,120875354,14548021,0.0041,0.099,0.0373,21630

## Analysis
* High-performers: CA, IA, IL, MN, KS
* We expect CA, but Iowa, IL, MN, KS? 

- Shipping might be lower to Iowa, IL, and MN since they're all relatively close. There may be a distribution center nearby.

In [104]:
sdf.query('date == "2010-03-01"').sort_values(['dc_profits'], ascending=[True])

,date,state,dc_sales,dc_profits,inflation,unemployment,tbill,natsales
2507,2010-03-01,DC,78344,1312,0.0041,0.099,0.0373,21630
2508,2010-03-01,DE,42636,3489,0.0041,0.099,0.0373,21630
2529,2010-03-01,NH,55338,7291,0.0041,0.099,0.0373,21630
2538,2010-03-01,RI,51677,7407,0.0041,0.099,0.0373,21630
2531,2010-03-01,NM,124727,12410,0.0041,0.099,0.0373,21630
2521,2010-03-01,ME,164493,18527,0.0041,0.099,0.0373,21630
2530,2010-03-01,NJ,202001,28001,0.0041,0.099,0.0373,21630
2520,2010-03-01,MD,233884,28992,0.0041,0.099,0.0373,21630
2549,2010-03-01,WY,186522,29508,0.0041,0.099,0.0373,21630
2545,2010-03-01,VT,218305,31497,0.0041,0.099,0.0373,21630
2539,2010-03-01,SC,263887,34362,0.0041,0.099,0.0373,21630
2526,2010-03-01,NC,271471,41651,0.0041,0.099,0.0373,21630
2518,2010-03-01,LA,328018,43582,0.0041,0.099,0.0373,21630
2544,2010-03-01,VA,431900,45412,0.0041,0.099,0.0373,21630
2510,2010-03-01,GA,281721,46885,0.0041,0.099,0.0373,21630
2519,2010-03-01,MA,486884,54768,0.0041,0.099,0.0373,21630
2506,2010-03-01,CT,589598,55161,0.0041,0.099,0.0373,21630
2525,2010-03-01,MT,451644,62933,0.0041,0.099,0.0373,21630
2535,2010-03-01,OK,833178,64314,0.0041,0.099,0.0373,21630
2548,2010-03-01,WV,460124,74127,0.0041,0.099,0.0373,21630
2511,2010-03-01,HI,700251,76727,0.0041,0.099,0.0373,21630
2509,2010-03-01,FL,688845,78660,0.0041,0.099,0.0373,21630
2524,2010-03-01,MS,653841,93125,0.0041,0.099,0.0373,21630
2537,2010-03-01,PA,943895,115029,0.0041,0.099,0.0373,21630
2500,2010-03-01,AK,928056,117498,0.0041,0.099,0.0373,21630
2522,2010-03-01,MI,1185583,126029,0.0041,0.099,0.0373,21630
2533,2010-03-01,NY,1309955,133691,0.0041,0.099,0.0373,21630
2534,2010-03-01,OH,1334729,141766,0.0041,0.099,0.0373,21630
2542,2010-03-01,TX,1092068,143548,0.0041,0.099,0.0373,21630
2532,2010-03-01,NV,1826007,147268,0.0041,0.099,0.0373,21630
2502,2010-03-01,AR,1144837,151788,0.0041,0.099,0.0373,21630
2501,2010-03-01,AL,1017859,160419,0.0041,0.099,0.0373,21630
2513,2010-03-01,ID,2420551,236939,0.0041,0.099,0.0373,21630
2543,2010-03-01,UT,2697642,359890,0.0041,0.099,0.0373,21630
2527,2010-03-01,ND,4182799,443748,0.0041,0.099,0.0373,21630
2540,2010-03-01,SD,3987166,458785,0.0041,0.099,0.0373,21630
2536,2010-03-01,OR,3610556,470974,0.0041,0.099,0.0373,21630
2503,2010-03-01,AZ,4612246,540385,0.0041,0.099,0.0373,21630
2541,2010-03-01,TN,4655929,582873,0.0041,0.099,0.0373,21630
2547,2010-03-01,WI,5440996,619219,0.0041,0.099,0.0373,21630
2515,2010-03-01,IN,5533830,707409,0.0041,0.099,0.0373,21630
2505,2010-03-01,CO,6442038,717820,0.0041,0.099,0.0373,21630
2546,2010-03-01,WA,5972279,719026,0.0041,0.099,0.0373,21630
2528,2010-03-01,NE,5381909,738705,0.0041,0.099,0.0373,21630
2517,2010-03-01,KY,6130987,745945,0.0041,0.099,0.0373,21630
2516,2010-03-01,KS,7165158,794322,0.0041,0.099,0.0373,21630
2523,2010-03-01,MN,9460548,1147688,0.0041,0.099,0.0373,21630
2514,2010-03-01,IL,9887093,1195680,0.0041,0.099,0.0373,21630
2512,2010-03-01,IA,11030782,1450184,0.0041,0.099,0.0373,21630
2504,2010-03-01,CA,120875354,14548021,0.0041,0.099,0.0373,21630

### Months with a similar change in national e-retail
* Holiday sales cause large percentage changes, so get the annual average % change.

In [92]:
current_natsales = pd.read_csv('current_natsales.csv')
#get the moving average %change
#current_natsales['natsales_pct_chg']
a = current_natsales['Natsales'].pct_change(periods=11)
a.mean()

0.16505866291185725

* There were no months within 5%, but there are some within 10%

In [105]:
months_nat_sales = hist_df.query('natsales_chg < (0.16505866291185725 * 1.1) & natsales_chg > (0.16505866291185725 * 0.9)')
months_nat_sales

,date,dc_sales,dc_profits,inflation,unemployment,tbill,natsales,dc_sales_chg,dc_profits_chg,natsales_chg
21,2010-03-01,238070141,28654790,0.0041,0.099,0.0373,21630,0.116046,0.095777,0.174267
33,2011-03-01,495223720,61241948,0.0098,0.090,0.0341,23814,0.124090,0.149123,0.152327

## Results
2010-03-01 matches our current economic conditions in two criteria. It differs greatly in terms of unemployment and the T-Bill rate. Let's look for any months matching those criteria.

Unemployment hasn't been this low in a long time, so there are no months with a similar rate. We can, however, look for months with a similar change over the annual moving average, -0.1132

In [108]:
unempl_chg = hist_df['unemployment'].pct_change(periods=11)
hist_df['unempl_chg'] = unempl_chg

In [112]:
months_unempl = hist_df.query('unempl_chg > (-0.1132 * 1.1) & unempl_chg < (-0.1132 * 0.9)')
months_unempl

,date,dc_sales,dc_profits,inflation,unemployment,tbill,natsales,dc_sales_chg,dc_profits_chg,natsales_chg,unempl_chg
40,2011-10-01,588383976,70765687,-0.0021,0.088,0.0215,24091,0.017367,0.012727,0.027466,-0.102041
51,2012-09-01,433581516,53122938,0.0045,0.078,0.0172,25451,0.002651,0.005194,-0.070419,-0.113636

In [116]:
months_tbill = hist_df.query('tbill < (0.0189 * 1.05) & tbill > (0.0189 * 0.95)')
months_tbill

,date,dc_sales,dc_profits,inflation,unemployment,tbill,natsales,dc_sales_chg,dc_profits_chg,natsales_chg,unempl_chg
39,2011-09-01,578340059,69876357,0.0015,0.090,0.0197,23447,-0.028624,-0.040238,-0.039962,-0.042553
42,2011-12-01,586763385,71926856,-0.0025,0.085,0.0197,36937,0.012919,0.014795,0.263322,-0.065934
43,2012-01-01,836933916,101907073,0.0044,0.083,0.0197,24739,0.426357,0.416815,-0.330238,-0.077778
44,2012-02-01,822664380,99284441,0.0044,0.083,0.0197,24202,-0.017050,-0.025736,-0.021707,-0.077778
47,2012-05-01,941270911,113246829,-0.0012,0.082,0.0180,26384,0.036425,0.016973,0.079895,-0.098901
55,2013-01-01,1302797200,162573914,0.0030,0.080,0.0191,28098,1.627357,1.688071,-0.294747,-0.036145
56,2013-02-01,1352358644,169192803,0.0082,0.077,0.0198,25253,0.038042,0.040713,-0.101253,-0.060976
57,2013-03-01,1474620822,184265051,0.0026,0.075,0.0196,27283,0.090407,0.089083,0.080386,-0.085366
59,2013-05-01,3206820724,193215556,0.0018,0.075,0.0194,28055,1.074615,0.005998,0.023868,-0.085366

In [121]:
tbill_chg = hist_df['tbill'].pct_change(periods=11)
hist_df['tbill_chg'] = unempl_chg

## Results
There were no monhts with a similar % change for T-Bill rate, but there were 9 with a similar rate. 2011-09 has a similar TBill rate and 2011-10 has a similar change in unemployment rate, so it might be worth looking at this 2-month span. 

Overall, we have identified 2010-03 as one month of interest and 2011-09 - 2011-10 as also of possible interest. How did we perform during these months?

In [133]:
sdf.query('date == "2011-09-01"').sort_values(['dc_profits'], ascending=[True])

,date,state,dc_sales,dc_profits,inflation,unemployment,tbill,natsales
3438,2011-09-01,RI,20572,4845,0.0015,0.09,0.0197,23447
3408,2011-09-01,DE,116250,17617,0.0015,0.09,0.0197,23447
3429,2011-09-01,NH,235812,20307,0.0015,0.09,0.0197,23447
3407,2011-09-01,DC,183534,22173,0.0015,0.09,0.0197,23447
3406,2011-09-01,CT,373562,38773,0.0015,0.09,0.0197,23447
3445,2011-09-01,VT,417084,41771,0.0015,0.09,0.0197,23447
3419,2011-09-01,MA,451835,59511,0.0015,0.09,0.0197,23447
3449,2011-09-01,WY,442014,62378,0.0015,0.09,0.0197,23447
3439,2011-09-01,SC,594498,65174,0.0015,0.09,0.0197,23447
3430,2011-09-01,NJ,771018,88155,0.0015,0.09,0.0197,23447
3421,2011-09-01,ME,681180,91573,0.0015,0.09,0.0197,23447
3431,2011-09-01,NM,700909,94043,0.0015,0.09,0.0197,23447
3418,2011-09-01,LA,789270,101978,0.0015,0.09,0.0197,23447
3424,2011-09-01,MS,888623,114498,0.0015,0.09,0.0197,23447
3444,2011-09-01,VA,1118377,116135,0.0015,0.09,0.0197,23447
3420,2011-09-01,MD,1018575,136799,0.0015,0.09,0.0197,23447
3425,2011-09-01,MT,1150999,160769,0.0015,0.09,0.0197,23447
3410,2011-09-01,GA,1359968,166711,0.0015,0.09,0.0197,23447
3411,2011-09-01,HI,1566486,183384,0.0015,0.09,0.0197,23447
3435,2011-09-01,OK,1383120,196328,0.0015,0.09,0.0197,23447
3401,2011-09-01,AL,1622083,210768,0.0015,0.09,0.0197,23447
3448,2011-09-01,WV,1624642,220847,0.0015,0.09,0.0197,23447
3426,2011-09-01,NC,1885168,239667,0.0015,0.09,0.0197,23447
3400,2011-09-01,AK,2158801,276647,0.0015,0.09,0.0197,23447
3422,2011-09-01,MI,2472327,292728,0.0015,0.09,0.0197,23447
3433,2011-09-01,NY,2468559,305184,0.0015,0.09,0.0197,23447
3409,2011-09-01,FL,2249357,314958,0.0015,0.09,0.0197,23447
3402,2011-09-01,AR,2358982,319387,0.0015,0.09,0.0197,23447
3434,2011-09-01,OH,2990920,339775,0.0015,0.09,0.0197,23447
3442,2011-09-01,TX,4055484,407375,0.0015,0.09,0.0197,23447
3432,2011-09-01,NV,4316846,456265,0.0015,0.09,0.0197,23447
3437,2011-09-01,PA,3360284,517266,0.0015,0.09,0.0197,23447
3413,2011-09-01,ID,5145451,635002,0.0015,0.09,0.0197,23447
3443,2011-09-01,UT,5895820,756392,0.0015,0.09,0.0197,23447
3440,2011-09-01,SD,9008558,1027587,0.0015,0.09,0.0197,23447
3427,2011-09-01,ND,8665476,1097552,0.0015,0.09,0.0197,23447
3436,2011-09-01,OR,9769673,1204919,0.0015,0.09,0.0197,23447
3403,2011-09-01,AZ,10428048,1349011,0.0015,0.09,0.0197,23447
3441,2011-09-01,TN,11468146,1483259,0.0015,0.09,0.0197,23447
3405,2011-09-01,CO,12910310,1500783,0.0015,0.09,0.0197,23447
3446,2011-09-01,WA,13360855,1538423,0.0015,0.09,0.0197,23447
3428,2011-09-01,NE,13471485,1632721,0.0015,0.09,0.0197,23447
3415,2011-09-01,IN,14179032,1688539,0.0015,0.09,0.0197,23447
3447,2011-09-01,WI,14228290,1755605,0.0015,0.09,0.0197,23447
3417,2011-09-01,KY,15232213,1762067,0.0015,0.09,0.0197,23447
3416,2011-09-01,KS,19427686,2359855,0.0015,0.09,0.0197,23447
3414,2011-09-01,IL,22768112,2718115,0.0015,0.09,0.0197,23447
3423,2011-09-01,MN,24953647,2981241,0.0015,0.09,0.0197,23447
3412,2011-09-01,IA,26115633,3204934,0.0015,0.09,0.0197,23447
3404,2011-09-01,CA,295484485,35496563,0.0015,0.09,0.0197,23447

In [134]:
sdf.query('date == "2011-10-01"').sort_values(['dc_profits'], ascending=[True])

,date,state,dc_sales,dc_profits,inflation,unemployment,tbill,natsales
3458,2011-10-01,DE,108235,8654,-0.0021,0.088,0.0215,24091
3488,2011-10-01,RI,66819,10931,-0.0021,0.088,0.0215,24091
3457,2011-10-01,DC,192788,26301,-0.0021,0.088,0.0215,24091
3479,2011-10-01,NH,250754,30049,-0.0021,0.088,0.0215,24091
3499,2011-10-01,WY,357796,36886,-0.0021,0.088,0.0215,24091
3495,2011-10-01,VT,480650,54023,-0.0021,0.088,0.0215,24091
3481,2011-10-01,NM,534772,65237,-0.0021,0.088,0.0215,24091
3469,2011-10-01,MA,648725,78694,-0.0021,0.088,0.0215,24091
3471,2011-10-01,ME,698203,92006,-0.0021,0.088,0.0215,24091
3489,2011-10-01,SC,639907,96979,-0.0021,0.088,0.0215,24091
3468,2011-10-01,LA,877786,103239,-0.0021,0.088,0.0215,24091
3470,2011-10-01,MD,943919,105126,-0.0021,0.088,0.0215,24091
3474,2011-10-01,MS,1052423,118408,-0.0021,0.088,0.0215,24091
3480,2011-10-01,NJ,945338,120392,-0.0021,0.088,0.0215,24091
3485,2011-10-01,OK,1114891,120755,-0.0021,0.088,0.0215,24091
3476,2011-10-01,NC,1072874,133502,-0.0021,0.088,0.0215,24091
3456,2011-10-01,CT,917191,143842,-0.0021,0.088,0.0215,24091
3475,2011-10-01,MT,1107480,156805,-0.0021,0.088,0.0215,24091
3498,2011-10-01,WV,1317281,161351,-0.0021,0.088,0.0215,24091
3460,2011-10-01,GA,1469425,176508,-0.0021,0.088,0.0215,24091
3494,2011-10-01,VA,1552126,194778,-0.0021,0.088,0.0215,24091
3461,2011-10-01,HI,1741340,198937,-0.0021,0.088,0.0215,24091
3459,2011-10-01,FL,1719778,204772,-0.0021,0.088,0.0215,24091
3450,2011-10-01,AK,2239057,248262,-0.0021,0.088,0.0215,24091
3452,2011-10-01,AR,2524937,275313,-0.0021,0.088,0.0215,24091
3483,2011-10-01,NY,2527913,276732,-0.0021,0.088,0.0215,24091
3472,2011-10-01,MI,2496184,316707,-0.0021,0.088,0.0215,24091
3492,2011-10-01,TX,3082333,317813,-0.0021,0.088,0.0215,24091
3487,2011-10-01,PA,2698429,319607,-0.0021,0.088,0.0215,24091
3451,2011-10-01,AL,2440807,320263,-0.0021,0.088,0.0215,24091
3484,2011-10-01,OH,3880790,479574,-0.0021,0.088,0.0215,24091
3482,2011-10-01,NV,4645752,553747,-0.0021,0.088,0.0215,24091
3493,2011-10-01,UT,7161128,864015,-0.0021,0.088,0.0215,24091
3463,2011-10-01,ID,7823018,1013769,-0.0021,0.088,0.0215,24091
3490,2011-10-01,SD,9466066,1139147,-0.0021,0.088,0.0215,24091
3477,2011-10-01,ND,9632531,1245831,-0.0021,0.088,0.0215,24091
3486,2011-10-01,OR,10459754,1264788,-0.0021,0.088,0.0215,24091
3453,2011-10-01,AZ,10576298,1304978,-0.0021,0.088,0.0215,24091
3491,2011-10-01,TN,11253745,1443180,-0.0021,0.088,0.0215,24091
3478,2011-10-01,NE,13284318,1514064,-0.0021,0.088,0.0215,24091
3467,2011-10-01,KY,12994711,1553384,-0.0021,0.088,0.0215,24091
3497,2011-10-01,WI,13405382,1612530,-0.0021,0.088,0.0215,24091
3496,2011-10-01,WA,14204871,1666692,-0.0021,0.088,0.0215,24091
3455,2011-10-01,CO,16138032,1961710,-0.0021,0.088,0.0215,24091
3465,2011-10-01,IN,15754732,2029247,-0.0021,0.088,0.0215,24091
3466,2011-10-01,KS,18078695,2183346,-0.0021,0.088,0.0215,24091
3464,2011-10-01,IL,23105191,2699453,-0.0021,0.088,0.0215,24091
3462,2011-10-01,IA,22054888,2703352,-0.0021,0.088,0.0215,24091
3473,2011-10-01,MN,27065282,3210453,-0.0021,0.088,0.0215,24091
3454,2011-10-01,CA,299578631,35809555,-0.0021,0.088,0.0215,24091

## Observations
* Indiana and Kentucky are regularly more profitable than Ohio and Pennsylvania
* Some of the more populous states like NY, VA, NC, and Florida are consistent under-performers

## Questions
* What is selling in CA, MN, IA, IL, KS? What is most profitable there?
* How are those products selling in our most populous and tech-heavy underperformers, MA, NY, VA, NC, OH, PA, FL?

## Findings

Which products have sold the most?
```
SELECT p.name, SUM(p.price) AS sales, SUM(p.cost) AS cost, SUM(p.price-p.cost) AS profits FROM fact f LEFT JOIN product p ON f.prod_id = p.prod_id
GROUP BY p.name ORDER BY sales DESC;
Tablet PC (10 in. display, 64 GB)                                  | 4902069145 | 4851254985 |  50814160 |
| 173 GB SAS Disk                                                    |  818620025 |  712633114 | 105986911 |
| VPN Appliance (250 Clienti license)                                |  806135927 |  656986577 | 149149350 |
| Server (1U rackmount, hex-core, 16GB, 8TB)                         |  768481065 |  619406670 | 149074395 |
| Basic Desktop                                                      |  700655080 |  643103842 |  57551238

Which products have been the most profitable?
SELECT p.name, SUM(p.price) AS sales, SUM(p.cost) AS cost, SUM(p.price-p.cost) AS profits FROM fact f LEFT JOIN product p ON f.prod_id = p.prod_id
GROUP BY p.name ORDER BY profits DESC;

VPN Appliance (250 Clienti license)                                |  806135927 |  656986577 | 149149350 |
| Server (1U rackmount, hex-core, 16GB, 8TB)                         |  768481065 |  619406670 | 149074395 |
| 173 GB SAS Disk                                                    |  818620025 |  712633114 | 105986911 |
| Scanner                                                            |  459446737 |  370731095 |  88715642 |
| VPN Appliance (50 Clienti license)                                 |  689302223 |  628122638 |  61179585 |

Our consumer-grade tech (like tablets) seems to be far less profitable than professional grade equipment (VPN Appliances).

What about during our given economic conditions?
SELECT p.name, SUM(p.price) AS sales, SUM(p.cost) AS cost, SUM(p.price-p.cost) AS profits FROM fact f LEFT JOIN product p ON f.prod_id = p.prod_id
WHERE f.Date = '2010-03-01'
GROUP BY p.name ORDER BY profits DESC
LIMIT 5;

VPN Appliance (250 Clienti license)                                | 685927 | 557001 |  128926 |
| Tablet PC (10 in. display, 64 GB)                                  | 543566 | 535082 |    8484 |
| Server (1U rackmount, hex-core, 16GB, 8TB)                         | 470019 | 378842 |   91177 |
| 173 GB SAS Disk                                                    | 292624 | 249786 |   42838 |
| Scanner                                                            | 279870 | 223959 |   55911 |


Most profitable products during times with similar change in inflation:
+--------------------------------------------+--------+--------+---------+
| name                                       | sales  | cost   | profits |
+--------------------------------------------+--------+--------+---------+
| VPN Appliance (250 Clienti license)        | 685927 | 557001 |  128926 |
| Server (1U rackmount, hex-core, 16GB, 8TB) | 470019 | 378842 |   91177 |
| Scanner                                    | 279870 | 223959 |   55911 |
| 173 GB SAS Disk                            | 292624 | 249786 |   42838 |
| VPN Appliance (50 Clienti license)         | 196416 | 172258 |   24158 |
+--------------------------------------------+--------+--------+---------+


What about for tbill rates?
SELECT p.name, SUM(p.price) AS sales, SUM(p.cost) AS cost, SUM(p.price-p.cost) AS profits FROM fact f LEFT JOIN product p ON f.prod_id = p.prod_id
WHERE (f.Date = '2011-09-01' OR f.Date = '2011-12-01' OR f.Date = '2012-01-01' OR f.Date = '2012-02-01' OR f.Date = '2012-05-01' OR f.Date = '2013-01-01' OR f.Date = '2013-02-01' OR f.Date = '2013-03-01' OR f.Date = '2013-05-01')
GROUP BY p.name ORDER BY sales DESC;


Tablet PC (10 in. display, 64 GB)                                  | 47361352 | 46937004 |  424348 |
| Server (1U rackmount, hex-core, 16GB, 8TB)                         |  7520304 |  6061472 | 1458832 |
| 173 GB SAS Disk                                                    |  5893579 |  5102588 |  790991 |
| Premium Gamer Desktop                                              |  5685636 |  5631736 |   53900 |
| Basic Desktop                                                      |  5673546 |  5273212 |  400334 |


Most profitable products during times with similar tbill rates
SELECT p.name, SUM(p.price) AS sales, SUM(p.cost) AS cost, SUM(p.price-p.cost) AS profits FROM fact f LEFT JOIN product p ON f.prod_id = p.prod_id
WHERE (f.Date = '2011-09-01' OR f.Date = '2011-12-01' OR f.Date = '2012-01-01' OR f.Date = '2012-02-01' OR f.Date = '2012-05-01' OR f.Date = '2013-01-01' OR f.Date = '2013-02-01' OR f.Date = '2013-03-01' OR f.Date = '2013-05-01')
GROUP BY p.name ORDER BY profits DESC
LIMIT 5;


| name                                       | sales   | cost    | profits |
+--------------------------------------------+---------+---------+---------+
| Server (1U rackmount, hex-core, 16GB, 8TB) | 7520304 | 6061472 | 1458832 |
| VPN Appliance (250 Clienti license)        | 4578340 | 3738508 |  839832 |
| 173 GB SAS Disk                            | 5893579 | 5102588 |  790991 |
| Scanner                                    | 3614481 | 2911039 |  703442 |
| VPN Appliance (50 Clienti license)         | 5530738 | 5035792 |  494946 |
+--------------------------------------------+---------+---------+---------+
```

## Recommendations
* Focus on marketing to our underperformers along the East Coast: FL, NC, VA, PA, NY, MA. 
* Focus on reaching computing professionals, not the consumer market.
* Sponsor tech conferences, especially those favored by sysadmins.
* Advertise on StackOverflow's sections that are favored by sysadmins.
* Get involved in professional organizations for CIOs and CTOs along the East Coast.